@import url('https://fonts.google.com/specimen/Poppins?hl=it');

body{
    background-color: whitesmoke;
    font-size: 18px;
    font-family: Poppins, sans-serif;
}


header{
    height: 65px;
    font-size: 40px;
    background-color: white;
}

#logo{
    vertical-align: middle;
}

main{
    background-color: white;
}

.buttons{
    font-size: 14px;
    position: relative;
    left: 30%;
    background-color: white;
    margin-top: 80px;
    ;
}

section{
    position: relative;
    left: 30%;
    margin-top:50px;
    width: 300px;
    background-color: white;
}

#butt1{
    background-color: lightblue;
    border: none;
    padding: 4px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-radius: 7px;
    color: white;
    font-size: 12px;
}

#butt2{
    background-color: white;
    border: 1px solid lightgrey;
    padding: 4px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-radius: 7px;
    color: white;
    font-size: 12px;
}

.positivo{
    border: 1px solid lightgreen;
    text-align: center;
    display: inline-block;  
    border-radius: 50%;
    width: 13px;
    height: 14px;
}

.checkmark{
    font-size:12px;
    color: lightgreen;
}

.negativo{
    border: 1px solid lightsalmon;
    text-align: center;
    display: inline-block;  
    border-radius: 50%;
    width: 13px;
    height: 14px;
}

.neg{
    font-size: 12px;
    color: lightsalmon;

}

.symblue{
    background-color: lightskyblue;
    border: none;
    padding: 4px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-radius: 13px;
    color: white;
    font-size: 12px;

}

.sympurp{
    background-color: lightpink;
    border: none;
    padding: 4px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-radius: 13px;
    color: white;
    font-size: 12px;

}

.symgree{
    background-color: lightseagreen;
    border: none;
    padding: 4px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-radius: 13px;
    color: white;
    font-size: 12px;

}

.symora{
    background-color: orange;
    border: none;
    padding: 4px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-radius: 13px;
    color: white;
    font-size: 12px;

}

.sympink{
    background-color: hotpink;
    border: none;
    padding: 4px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-radius: 13px;
    color: white;
    font-size: 12px;
}

.symsage{
    background-color: seagreen;
    border: none;
    padding: 4px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-radius: 13px;
    color: white;
    font-size: 12px;

}